Description=Cadastrar produtos
After=network.target

[Service]
User=root
Group=www-data

ExecStart=/usr/local/gocep/go-cep

Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target